@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .container {
        @apply max-w-[968px] mx-auto;
    }

    @media (max-width: 992px) {
        .container {
            @apply mx-[1.5rem];
        }
    }

    @media (max-width: 576px) {
        .container {
            @apply mx-[1rem];
        }
    }

    @media (max-width: 350px) {
        .container {
            @apply mx-[0.5rem];
        }
    }

    .grid {
        display: grid;
        @apply gap-[1.5rem] sm:gap-[1rem];
    }

    .section {
        @apply py-[6rem] pb-[2rem] md:py-[2rem] md:pb-[4rem];
    }

    .section__title {
        @apply text-h1 text-title text-center lg:text-h1;
    }

    .section__subtitle {
        @apply block text-small mb-16 text-center md:mb-12;
    }

    /* Header specific global class */
    .scroll-header {
        @apply shadow-[0_-1px_4px_rgba(0,0,0,0.15)];
    }

    /* ScrollUp specific class */
    .show-scroll {
        @apply bottom-12 md:bottom-16;
    }

    /* Buttons */
    .button {
        @apply inline-block bg-title text-container py-5 px-8 rounded-2xl font-medium hover:bg-title-dark transition-colors lg:py-4 lg:px-7;
    }

    .button__icon {
        @apply ml-2 lg:w-[22px] lg:h-[22px];
    }

    .button--flex {
        @apply inline-flex items-center;
    }
}

@layer utilities {
    .animate-profile {
        animation: profile__animate 8s ease-in-out infinite 1s;
    }

    @keyframes profile__animate {
        0% {
            border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
        }

        50% {
            border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
        }

        100% {
            border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
        }
    }

    .animate-scroll {
        animation: scroll 2s ease infinite;
    }

    @keyframes scroll {
        0% {
            transform: translateY(0);
        }

        30% {
            transform: translateY(1rem);
        }
    }

    .animate-fade-in {
        animation: fadeIn 0.3s forwards;
    }

    @keyframes fadeIn {
        to {
            opacity: 1;
        }
    }

    .animate-pop-in {
        animation: popIn 0.3s 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    }

    @keyframes popIn {
        to {
            transform: scale(1);
        }
    }
}

/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* Variables CSS */
:root {
    --header-height: 3rem;

    /* Colors */
    /* Color mode HSL(hue, saturation, lightness) */
    --hue: 0;
    --sat: 0%;
    --title-color: hsl(var(--hue), var(--sat), 20%);
    --title-color-dark: hsl(var(--hue), var(--sat), 0%);
    --text-color: hsl(var(--hue), var(--sat), 46%);
    --body-color: hsl(var(--hue), var(--sat), 98%);
    --container-color: #fff;

    /*========== Font and typography ==========*/
    --body-font: "Poppins", sans-serif;

    /* .5rem = 8px | 1rem = 16px ... */
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
    --tiny-font-size: 0.625rem;

    /*========== Font weight ==========*/
    --font-normal: 400;
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes Bottom ==========*/
    /* .5rem = 8px | 1rem = 16px ... */
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z Index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;

    /* Responsive typography */
    @media screen and (max-width: 992px) {
        :root {
            --big-font-size: 2.75rem;
            --h1-font-size: 1.5rem;
            --h2-font-size: 1.25rem;
            --h3-font-size: 1rem;
            --normal-font-size: 0.938rem;
            --small-font-size: 0.813rem;
            --smaller-font-size: 0.75rem;
        }
    }
}

/* Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body,
button,
input,
textarea {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,
h2,
h3 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}