@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@layer base {
    * {
        @apply m-0 p-0 box-border;
    }

    html {
        scroll-behavior: smooth;
    }

    body,
    button,
    input,
    textarea {
        @apply font-body text-base;
    }

    body {
        @apply bg-body text-text;
    }

    h1,
    h2,
    h3 {
        @apply text-title font-medium;
    }

    ul {
        @apply list-none;
    }

    a {
        @apply no-underline;
    }

    button {
        @apply cursor-pointer border-none outline-none;
    }

    img {
        @apply max-w-full h-auto;
    }
}

@layer utilities {
    .animate-profile {
        animation: profile__animate 8s ease-in-out infinite 1s;
    }

    @keyframes profile__animate {
        0% {
            border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
        }

        50% {
            border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
        }

        100% {
            border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
        }
    }

    .animate-scroll {
        animation: scroll 2s ease infinite;
    }

    @keyframes scroll {
        0% {
            transform: translateY(0);
        }

        30% {
            transform: translateY(1rem);
        }
    }

    .animate-fade-in {
        animation: fadeIn 0.3s forwards;
    }

    @keyframes fadeIn {
        to {
            opacity: 1;
        }
    }

    .animate-pop-in {
        animation: popIn 0.3s 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    }

    @keyframes popIn {
        to {
            transform: scale(1);
        }
    }
}